@media only screen and (min-width: 768px) and (max-width: 900px) {
  body {
    padding-top: 72px;
  }
  /*media Queries for navbar */
  nav {
    width: 100%;
    padding: 0.5rem;
  }
  .left-nav-logo {
    margin-right: 0.5em;
  }
  .left-nav-logo .img-content {
    font-size: 0.3rem;
  }
  .left-nav-logo .img-content a span {
    display: none;
  }
  .middle-nav-name {
    width: 100%;
    text-align: center;
    padding-left: 0rem;
  }
  .middle-nav-name .search-bar {
    width: 100%;
  }
  .middle-nav-name .search-bar input {
    width: 90%;
    padding: 0 1rem;
  }
  .right-nav-tools {
    width: 100%;
    max-width: 140px;
  }
  .right-nav-tools .cart-logo {
    margin-left: 0.8rem;
  }

  /* main content css media Query */

  .content-grid .image-content {
    height: 70%;
  }
  .content-grid-container {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
  .content-grid-container .content-grid {
    width: 100%;
    margin: 0 auto;
    max-width: 300px;
  }
  .content-grid:hover {
    transform: translateY(0rem);
  }

  .product-price-quantity-box .add-to-cart-btn:hover,
  .product-price-quantity-box .add-to-cart-btn:active {
    background: var(--main-bg); /* your hover/click color */
    color: inherit;
  }
  .foot-content {
    padding: 0 0.5rem;
  }

  .contact-info-box .location-map iframe {
    width: 100%;
    height: 150px;
    border: 0;
  }

  /* cart-page */
  .cart-content {
    flex-direction: column;
  }
  .payment-with-suggestion {
    flex-direction: row;
  }
  .cart-checkout {
    flex: 1;
    max-width: none;
  }
  .add-load {
    top: 62px;
  }
}

@media only screen and (min-width: 376px) and (max-width: 765px) {
  body {
    padding-top: 72px;
  }
  /*media Queries for navbar */

  .left-nav-logo {
    margin: 0;
  }
  .left-nav-logo .img-content a span {
    display: none;
  }

  .middle-nav-name {
    display: block;
    padding-left: 0.5rem;
  }
  .middle-nav-name .search-bar input {
    margin: 0;
  }

  .right-nav-tools {
    max-width: 100px;
  }
  /* media query for main content */
  .content-grid-container {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .content-grid .image-content {
    height: 60%;
  }
  .product-price-quantity-box .add-to-cart-btn:hover,
  .product-price-quantity-box .add-to-cart-btn:active {
    background: none;
    color: inherit;
  }
  /* media query for footer */

  .foot-content {
    padding: 0 0.5rem;
    flex-direction: column;
  }
  .location-map iframe {
    width: 100%;
    height: 350px;
    border: 0;
  }
  body .faq-section {
    max-width: none;
  }
  /* cart */
  /* cart-page */
  .cart-content {
    flex-direction: column;
  }
  .payment-with-suggestion {
    flex-direction: column;
  }
  .cart-checkout {
    flex: 1;
    max-width: none;
  }
  .feedback-box {
    width: 100%;
    max-width: none;
  }
  .product-name-content {
    display: none;
  }
  .cart-content .remove-cart-item:hover,
  .cart-content .remove-cart-item:active {
    background: var(--txt-clr);
  }
  fieldset .checkout-btn:hover,
  .feedback-box .send-feedback:hover,
  fieldset .checkout-btn:active,
  .feedback-box .send-feedback:active {
    background: var(--cart-clr);
    color: var(--txt-clr);
  }
  /* info */
  .add-load {
    top: 62px;
  }
}
