@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap&subset=latin");

:root {
  --main-bg: #1f91b4;
  --cart-clr: #14c0cc;
  --txt-clr: #ffffff;
  --shop-nclr: #22c55e;
  --logo-fts: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--logo-fts);
  padding-top: 75px;
}

nav {
  width: 100%;
  background: var(--main-bg);
  padding: 0.5rem;
  color: var(--txt-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.233);
}
.nav-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
}
.left-nav-logo {
  margin-right: 1em;
}

.left-nav-logo .img-content {
  width: 40px;
  border-radius: 50%;
  height: 40px;
  font-size: 0.5rem;
  text-align: center;
  border: 2px double var(--cart-clr);
}
.left-nav-logo .img-content :hover {
  filter: drop-shadow(2px 2px 5px rgba(37, 35, 35, 0.185));
}
.left-nav-logo .img-content a {
  text-decoration: none;
  text-align: center;
  color: var(--txt-clr);
  font-weight: bold;
}
.left-nav-logo .img-content img {
  width: 100%;
}
.middle-nav-name {
  width: 100%;
  text-align: center;
  padding-left: 3rem;
}
.middle-nav-name .search-bar {
  width: 100%;
  max-width: 700px;
  height: 100%;
  display: flex;
}
.middle-nav-name .search-bar input {
  width: 95%;
  padding: 0.4rem 1rem;
  border: 2px solid var(--cart-clr);
  border-radius: 0.5rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 1.2rem;
  color: gray;
  margin-left: 1rem;
}
.search-bar input::placeholder {
  color: gray;
}
.search-bar input:focus {
  outline: none;
}

.search-bar .search-icon {
  display: inline-block;
  background: white;
  padding: 0.4rem 0.6rem;
  border-radius: 0.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 1rem;
  background: var(--cart-clr);
  line-height: 1.8rem;
  cursor: pointer;
  transition: opacity 0.15s ease-out;
}
.search-bar .search-icon:hover {
  opacity: 0.7;
}
.search-bar .search-icon:active {
  opacity: 1;
}
.right-nav-tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 120px;
}

.right-nav-tools .cart-logo {
  position: relative;
  font-size: 2.4rem;
  cursor: pointer;
  margin-top: 2px;
}
.right-nav-tools .cart-logo:hover {
  filter: drop-shadow(2px 2px 5px rgba(37, 35, 35, 0.185));
}
.right-nav-tools .cart-logo a {
  color: var(--txt-clr);
}
.cart-qcona {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 50%;
  transform: translate(-50%, -62%);
  text-align: center;
}
.cart-qcona .cart-quantity {
  font-weight: bold;
  color: var(--cart-clr);
  font-size: 0.6rem;
}
.user-avatar {
  overflow: hidden;
  color: var(--txt-clr);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.right-nav-tools .user-image {
  aspect-ratio: 1;
  width: 40px;
  border-radius: 50%;
  aspect-ratio: 1;
  text-align: center;
  background: white;
  border: 2px double var(--cart-clr);
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cart-clr);
}
.right-nav-tools .user-avatar .user-more {
  display: none;
}
.right-nav-tools .user-image:hover {
  filter: drop-shadow(2px 2px 5px rgba(37, 35, 35, 0.185));
}
.add-load {
  display: none;
  color: var(--shop-nclr);
  position: fixed;
  top: 70px;
  z-index: 1000;
  transition: all ease-out 0.15s;
  width: 100%;
  text-align: center;
  background: rgba(11, 122, 226, 0.863);
}

.hide-info {
  display: block;
}

/*profile*/
.user-data-section {
  display: none;
  position: fixed;
  right: 0;
  background: var(--main-bg);
  padding: 1rem 0.5rem;
  top: 83px;
  width: 100%;
  max-width: 300px;
  z-index: 9999;
  border-radius: 0.5rem 0 0 0.5rem;
  color: var(--txt-clr);
  height: max-content;
  max-height: 300px;
  border: 4px double var(--cart-clr);
  font-size: 0.9rem;
  line-height: 1.8rem;
}
.user-data-section ul {
  list-style-type: none;
}

.user-data-section .buttons {
  position: absolute;
  top: 0;
  right: 0;
}
.user-data-section .buttons button {
  background: var(--txt-clr);
  cursor: pointer;
  padding: 0.2rem;
  color: var(--cart-clr);
  border: 2px groove var(--cart-clr);
}
.login-new-user {
  display: block;
  cursor: pointer;
}
.hide-log-data {
  display: none;
}
.manage-details {
  cursor: pointer;
}
.see-order-history {
  cursor: pointer;
}

.show-option-toggle {
  display: block;
}
