main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.7rem;
  margin: 0.5rem auto;
  width: 100%;
  max-width: 1000px;
  height: max-content;
}

.content-grid-container .content-grid {
  background: var(--cart-clr);
  max-width: 220px;
  color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
  cursor: pointer;
  transition: all ease-out 0.15s;
}

.content-grid:hover {
  transform: translateY(-0.5rem);
}
.content-grid .image-content {
  width: 100%;
  height: 70%;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  overflow: hidden;
}
.content-grid .image-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-details .product-desc {
  color: rgba(236, 226, 226, 0.815);
  font-style: italic;
  font-size: 0.7rem;
}
.product-details h4 {
  font-size: 0.9rem;
}
.product-details .product-price {
  flex: 1;
}
.product-price-quantity-box {
  margin-top: 0.5rem;
}
.product-details .product-price-quantity-box {
  display: flex;
  justify-content: space-between;
}
.product-details .product-price-quantity-box select {
  margin-right: 0.5rem;
  border: none;
  border-radius: 0.3rem;
  padding: 1px 5px;
  cursor: pointer;
  outline: none;
  color: var(--cart-clr);
}
.product-price-quantity-box select option {
  background: var(--cart-clr);
  color: white;
}

.product-price-quantity-box .add-to-cart-btn {
  padding: 0 5px;
  border: none;
  border-radius: 0.3rem;
  color: var(--cart-clr);
  cursor: pointer;
  transition: all 0.15s ease-in;
}
.product-price-quantity-box .add-to-cart-btn:hover {
  background: #1f91b4;
  color: white;
}
.product-price-quantity-box .add-to-cart-btn:active {
  background: var(--cart-clr);
  opacity: 0.6;
}
